
<div *ngIf="properties" [ngClass]="{'bgActive': properties.onTurn, 'bgDefault': !properties.onTurn }" class="container">
    


    <img src="../../assets/images/{{properties.image}}.jpg" class="image" alt="">

    <div class="props">
        <span >Attack : {{properties.attack}}</span> <br> <span >Defense : {{properties.health}}</span>
    </div>
    
    <div class="border-left props">
        <span>Hp : {{properties.attack}}</span> <br> <span>Rest : {{properties.restCurrent}} / {{properties.restMax}}</span>
    </div>
    <p class="special">lorem </p>

</div>  

<div *ngIf="!properties" class="empty">
    
</div>